@import '../vars';

.row .col .flex-image {
  @media (max-width: $md) {
    width: 100%;
  }
  @media (min-width: $md) {
    img {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      @media (min-width: $md) {
        margin-bottom: 30px;
      }
    }
  }
}
