@import '../card-gallery';
.scenario-card-container {
  @extend .card-gallery;
  .scenario-card {

    .regular-button, .nectar-button{
      &:hover{ 
        color: $black;
        &:after{
          border-color: $black;
        }
      }
    }

    @extend .card;
    > div {
      border: solid 1px $white;
      border-radius: 40px;
      padding: 54px 25px 28px 20px;
      background-color: $black;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      h4 {
        color: $sand;
        margin-bottom: 30px;
        text-transform: none;
      }
      p {
        color: $white;
        margin-bottom: 50px;
        white-space: wrap;
      }
      div {
        margin-top: auto;
        display: flex;
        justify-content: center;
      }
      a {
        color: $sand;
        &:after {
          border-color: $white;
        }
      }
    }
  }
}
