@import '../vars';

.row .col.light .section-title h4 {
  color: $white;
}

.row .col .section-title {
  margin-bottom: 52px;
  .details {
    color: $black;
  }
  h4 {
    text-transform: none;
    margin-bottom: 20px;
    color: $gold;
    width: 50%;
    @media (min-width: $md) {
      margin-bottom: 30px;
      width: 100%;
    }
  }
}

.section_title_small .section-title {
  margin-bottom: 10px !important;
}


