@import '../vars';
@import '../card-gallery';

.service-card-container {
  @extend .card-gallery;
  .service-card {
    @extend .card;
    > div {
      border: solid 1px $black;
      border-radius: 40px;
      padding: 54px 25px 28px 20px;
      display: flex;
      flex-grow: 1;
      flex-direction: column;

      h4 {
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      p {
        margin-bottom: 20px;
        white-space: wrap;
      }
      img {
        height: 180px;
        width: auto;
        margin-bottom: 69px;
      }
      div {
        margin-top: auto;
        display: flex;
        justify-content: center;
      }
    }
  }
}
